
<header class="header">
    <ul class="side-nav fixed section table-of-contents">
        <li>
            <a class="btn-floating btn-large waves-effect waves-light yellow home-btn">
                <i class="material-icons black-text">home</i>
            </a>
        </li>
        <li>
            <a class="btn-floating btn-large waves-effect waves-light yellow about-btn">
                <i class="material-icons black-text">person</i>
            </a>
        </li>
        <li>
            <a class="btn-floating btn-large waves-effect waves-light black projects-btn">
                <i class="material-icons yellow-text">code</i>
            </a>
        </li>
        <li>
            <a class="btn-floating btn-large waves-effect waves-light yellow contacts-btn">
                <i class="material-icons black-text">email</i>
            </a>
        </li>
    </ul>
</header>
