<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="../img/code_fav2.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/mobile-styles.css">
    <title>Velizar Tonchev</title>
</head>

<body>
    {{> header}} {{> mobile_header}}

    <section class="home in-view" id="home">
        <div class="overlay">
            <div class="logo-cnt">
                <div class="logo v">V</div>
                <div class="logo e">E</div>
                <div class="logo l">L</div>
                <div class="logo i">I</div>
                <div class="logo z">Z</div>
                <div class="logo a">A</div>
                <div class="logo r">R</div>
                <div class="logo t">T</div>
                <div class="logo o">O</div>
                <div class="logo n">N</div>
                <div class="logo c">C</div>
                <div class="logo h">H</div>
                <div class="logo te">E</div>
                <div class="logo tv">V</div>
            </div>
            <div class="web-dev">Web Developer</div>
        </div>
    </section>

    <section class="about in-view row">
        <div class="sub-title">
            <div class="title-text">
                ABOUT
            </div>
        </div>
        <div class="sub-content container">
            <div class="row">
                <div class="col s12 quote-cnt">
                    <blockquote>
                        Inspired front end developer with the desire to evolve and become a full stack pro.
                    </blockquote>
                    <div class="about-text">
                        I am in programming for the past four years and have one year of professional experiance. I am currently looking to expand
                        my skillset and join a team of motivated developers so that I can learn faster and develop myself
                        in a rapid environment, where I will need to learn a lot of exciting new technologies that will enable
                        me to grow and finally become completely confident in my knowledge for best practices and best user
                        experiance. I like to keep up with the current trends and always look to find the best solution for
                        a given problem. I do feel that I need to become a part of a fast-paced professional environment,
                        where I will need to really give my best. I am ready to work with a wide range of technologies and
                        even more eager to learn new ones!
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="projects in-view row">
        <div class="sub-title">
            <div class="title-text">
                MY PROJECTS
            </div>
        </div>
        <br>
        <br>
        <div class="sub-content container">
            <div class="row">
                <div class="col s12">

                    <div class="row">
                        <div class="col s12 m12 l6 xl6">
                            <div class="card hoverable">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="img/addAssignToMenu.PNG">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">HP SharePoint Site
                                        <i class="material-icons right">more_vert</i>
                                    </span>
                                    <p>
                                        <a target="_blank" href="https://drive.google.com/drive/folders/1MSPORO6aXw3FakZaTHeyteSsMlfPfaMt?usp=sharing">View Photos</a>
                                    </p>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title teal-text text-lighten-1">HP SharePoint Site
                                        <i class="material-icons right">close</i>
                                    </span>
                                    <p>HP MS EMEA Infrastructure SharePoint Site is an HP internal SharePoint solution build
                                        on the SharePoint Online platform.
                                        <span class="teal-text lighten-2">Implemented using:</span>
                                        <ul>
                                            <li>SharePoint master pages</li>
                                            <li>SharePoint web parts</li>
                                            <li>SharePoint RESTful API</li>
                                            <li>SharePoint JSOM</li>
                                            <li>jQuery</li>
                                            <li>CSS3</li>
                                            <li>HTML5</li>
                                            <li>Bootstrap</li>
                                            <li>SharePoint Designer 2013</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m12 l6 xl6">
                            <div class="card hoverable">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="img/the-ido-app.png">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">The iDO Web App
                                        <i class="material-icons right">more_vert</i>
                                    </span>
                                    <p>
                                        <a target="_blank" href="https://infinite-stream-49101.herokuapp.com">View Site</a>
                                        <a class="right" target="_blank" href="https://github.com/VelizarT/ToDoAPP">View Source</a>
                                    </p>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title teal-text text-lighten-1">The iDO Web App
                                        <i class="material-icons right">close</i>
                                    </span>
                                    <p>This is a simple web app build on Node.js and hosted on Heroku that implements all of
                                        the CRUD operations both on the front and on the back end.
                                        <span class="teal-text lighten-2">Implemented using:</span>
                                        <ul>
                                            <li>jQuery on the front end</li>
                                            <li>Handlebars templates</li>
                                            <li>Bootstrap 4 for styling</li>
                                            <li>Express server</li>
                                            <li>Mongoose for the data models</li>
                                            <li>MondoDB database</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l6 xl6">
                            <div class="card hoverable">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="img/simple-portfolio.png">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">A Simpler Portfolio
                                        <i class="material-icons right">more_vert</i>
                                    </span>
                                    <p>
                                        <a target="_blank" href="https://limitless-retreat-93004.herokuapp.com">View Site</a>
                                        <a class="right" target="_blank" href="https://github.com/VelizarT/Portfolio">View Source</a>
                                    </p>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title teal-text text-lighten-1">A Simpler Portfolio
                                        <i class="material-icons right">close</i>
                                    </span>
                                    <p>This is a simple website build on Node.js and hosted on Heroku.
                                        <span class="teal-text lighten-2">Implemented using:</span>
                                        <ul>
                                            <li>jQuery on the front end</li>
                                            <li>Handlebars templates</li>
                                            <li>Materialize for styling</li>
                                            <li>Express server</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m12 l6 xl6">
                            <div class="card hoverable">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="img/chat-app.png">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">Simple Chat App Tutorial
                                        <i class="material-icons right">more_vert</i>
                                    </span>
                                    <p>
                                        <a target="_blank" href="https://lit-castle-15223.herokuapp.com">View Site</a>
                                        <a class="right" target="_blank" href="https://github.com/VelizarT/ChatApp">View Source</a>
                                    </p>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title teal-text text-lighten-1">Simple Chat App Tutorial
                                        <i class="material-icons right">close</i>
                                    </span>
                                    <p>This is a simple chat app build on Node.js and hosted on Heroku. It makes use of the
                                        Socket.io library. It is build with the help of Andrew Mead.
                                        <span class="teal-text lighten-2">Implemented using:</span>
                                        <ul>
                                            <li>Express server</li>
                                            <li>Socket.io for instant communication</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <section class="skills in-view row">
        <div class="sub-title">
            <div class="title-text">
                SKILLS
            </div>
        </div>
        <div class="sub-content container">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="col s12 m12 l12 xl12">
                            <h3 class="header">My skills</h3>
                            <div class="card horizontal">
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <img src="../img/HTML5.png" class="img-resize responsive-img">
                                        <img src="../img/css.png" class="img-resize responsive-img">
                                        <img src="../img/js.png" class="img-resize responsive-img">
                                        <img src="../img/jquery.png" class="img-resize responsive-img">
                                        <img src="../img/node.png" class="img-resize responsive-img">
                                        <img src="../img/bootstrap.png" class="img-resize responsive-img">
                                        <img src="../img/materialize.png" class="img-resize responsive-img">
                                        <img src="../img/npm.png" class="img-resize responsive-img">
                                        <img src="../img/mongo.png" class="img-resize responsive-img">
                                        <img src="../img/heroku.png" class="img-resize responsive-img">
                                        <img src="../img/sharepoint.png" class="img-resize responsive-img">
                                        <img src="../img/git.png" class="img-resize responsive-img">
                                        <img src="../img/photoshop.png" class="img-resize responsive-img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12 xl12">
                            <h3 class="header">Currently learning</h3>
                            <div class="card horizontal">
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <img src="../img/angular.png" class="img-resize responsive-img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contacts in-view row">
        <div class="sub-title">
            <div class="title-text">
                CONTACTS
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="sub-content container">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="col s12 m12 l12 xl12">
                            <div class="card horizontal">
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <div class="row">
                                            <a href="mailto:velizar_tonchev@abv.bg" class="btn-floating btn-large waves-effect waves-light red email-btn">
                                                <i class="material-icons">email</i>
                                            </a>
                                            <a href="mailto:velizar_tonchev@abv.bg">
                                                <span>velizar_tonchev@abv.bg</span>
                                            </a>
                                        </div>
                                        <div class="row">
                                            <a href="https://linkedin.com/in/VelizarT" class="btn-floating btn-large waves-effect waves-light red linkedin-btn">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                            <a href="https://linkedin.com/in/VelizarT">
                                                <span>linkedin.com/in/VelizarT</span>
                                            </a>
                                        </div>
                                        <div class="row">
                                            <a href="https://github.com/VelizarT" class="btn-floating btn-large waves-effect waves-light red github-btn">
                                                <i class="fab fa-github"></i>
                                            </a>
                                            <a href="https://github.com/VelizarT">
                                                <span>github.com/VelizarT</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-action">
                                        <a target="_blank" href="https://drive.google.com/file/d/1wLh3a_kaC_JVHdsFzvOJqKq9KpBAP4J9/view?usp=sharing">Link to my resume</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../scripts/home.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>

</html>